name: skylantix_dash

services:
  skylantix_dash:
    container_name: skylantix_dash
    build: .
    env_file:
      - .env
    networks:
      - db-net
    depends_on:
      - postgres
    ports:
      - ${TAILSCALE_IP}:8000:8000

  postgres:
    image: postgres:18-alpine
    container_name: skylantix_dash_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    networks:
      - db-net

networks:
  db-net:
    name: db-net
    driver: bridge
